:root {
}

.dataText {
    font-size: 17px;
    opacity: 0.8;
    position: relative;
    flex-direction: column;
    align-self: flex-start;
    justify-content: flex-start;
    min-width: auto;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: -3px;
    padding-right: -3px;
    padding-bottom: -3px;
    padding-left: -3px;
    color: rgb(168, 168, 168);
}
